<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:config/ehcache-shiro.xml"/>
    </bean>

    <!-- 配置权限管理器 -->
    <bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
        <property name="dataSource" ref="dataSource"/>
        <!-- 根据用户邮箱查找用户密码 -->
        <property name="authenticationQuery" value="select password from t_user where email = ?"></property>
        <!-- 根据用户的邮箱查找用户的角色名称 -->
        <property name="userRolesQuery"
                  value="select r.name from t_user u, t_user_role ur, t_role r where u.id = ur.user_id and ur.role_id = r.id and u.email = ?"/>
        <!-- 根据角色名称查找对应的权限 -->
        <property name="permissionsQuery"
                  value="select p.permission from t_role r, t_role_permission rp, t_permission p where r.id = rp.role_id and rp.permission_id = p.id and r.name = ?"/>
        <property name="permissionsLookupEnabled" value="true"/>
    </bean>

    <bean id="appShiroRealm" class="top.zywork.security.shiro.AppShiroRealm" />
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 我们自定义的realm -->
        <property name="realms">
            <set>
                <ref bean="jdbcRealm"/>
                <ref bean="appShiroRealm"/>
            </set>
        </property>
        <!-- 缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>

    </bean>

    <!-- shiro过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 权限管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 登录地址 -->
        <property name="loginUrl" value="/login.jsp"/>
        <!-- 错误页面 -->
        <property name="unauthorizedUrl" value="/unauth.jsp"/>
        <!-- 权限配置 -->
        <property name="filterChainDefinitions">
            <value>
                /login = anon
                /css/**=anon
                /images/**=anon
                /js/**=anon
            </value>
        </property>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>  