<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.TemplateDAO1">
    <resultMap type="templateDO" id="templdateMap">
    </resultMap>

    <insert id="save" parameterType="templateDO">
		<![CDATA[

			insert into t_template(name, password) values(#{name}, #{password})

        ]]>
	</insert>

    <insert id="save1" parameterType="templateDO">
        <![CDATA[

			insert into t_template(name, password) values(#{name}, #{password})

        ]]>
    </insert>

    <select id="getById" parameterType="long" resultType="templateDO">
        select * from t_template where id = #{id}
    </select>

    <select id="listAll" resultType="templateDO">
        select * from t_template
    </select>

    <select id="count" resultType="long">
        select count(id) from t_template
    </select>

</mapper>